main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.reset-password-wrapper {
    background: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 840px;
    height: 400px;
    margin: 36px auto 0;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-password-header {
    display: flex;
    gap: 21px;
    align-items: center;
    margin: 0;
}

.reset-password-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eee;
    margin: 0;
}

.reset-password-title {
    font-size: 22.4pt;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.reset-password-description {
    font-size: 12.6pt;
    color: #9a9a9a;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
}

.reset-password-form-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.reset-password-label {
    font-size: 12.6pt;
    color: #9a9a9a;
}

.reset-password-input {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: 14px;
    background-color: #2a2a2a;
    color: #eee;
}

.reset-password-input:focus {
    outline: none;
    border: 1px solid #5a5a7a;
}

.reset-password-input:-webkit-autofill, .reset-password-input:-webkit-autofill:hover, .reset-password-input:-webkit-autofill:focus, .reset-password-input:-webkit-autofill:active {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.reset-password-input[data-autocompleted] {
    background-color: transparent !important;
}

.reset-password-button {
    border: none;
    border-radius: 5px;
    padding: 14px;
    background-color: #6103ee;
    color: #eee;
    cursor: pointer;
}

.reset-password-button:hover {
    background-color: #7f3ff2;
    color: #fff;
}

.reset-password-footer {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-password-login::before {
    font-weight: bolder;
    content: "← ";
}

.reset-password-login {
    font-size: 12.6pt;
    text-align: center;
    text-shadow: 0 0 4px black;
}

.reset-password-login:hover {
    color: #fff;
}